<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>视频播放器</title>
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<link rel="stylesheet" href="./DPlayer.min.css" />
<div id="dplayer"></div>
<script src="./DPlayer.min.js"></script>
<script>
const dp = new DPlayer({
    container: document.getElementById('dplayer'),
    video: {
        url: 'demo.mp4',
    },
});
</script>
</body>
</html>